@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box
}
body {
   min-height: 100vh;
   background: #0F2027;
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
   font-family: 'Poppins', sans-serif
}
.timer-bar {
   width: 0;
   height: 10px;
   align-self: flex-start;
   background-color: #3FAF76
}
.timer-container {
   width: 80%;
   display: flex;
   align-items: center;
   margin: 0 auto;
   padding: 10px 0;
   color: #fff
}
.timer {
   font-size: 28px;
   font-weight: 500;
   margin: auto
}
@media (max-width: 676px) {
   .timer {
      font-size: 19px
   }
}
.timer span {
   color: #5fffb0;
}
.volume {
   cursor: pointer;
   z-index: 1
}