@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box
}
body {
   min-height: 100vh;
   background: #0F2027;
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
   font-family: 'Poppins', sans-serif
}
.timer-bar {
   width: 0;
   height: 10px;
   align-self: flex-start;
   background-color: #3FAF76
}
.timer-container {
   width: 80%;
   display: flex;
   align-items: center;
   margin: 0 auto;
   padding: 10px 0;
   color: #fff
}
.timer {
   font-size: 28px;
   font-weight: 500;
   margin: auto
}
@media (max-width: 676px) {
   .timer {
      font-size: 19px
   }
}
.timer span {
   color: #5fffb0;
}
.timer .blink {
   color: red;
   animation: blinking 5 ease-in-out 1s
}
@keyframes blinking {
   from {opacity: 0.5}
   to {opacity: 1}
}
.volume {
   cursor: pointer;
   z-index: 1
}
.container {
   width: 800px;
   max-width: 90%;
   height: 460px;
   padding: 25px;
   margin: 0 auto;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.11);
   border-radius: 14px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5.3px);
   -webkit-backdrop-filter: blur(5.3px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   position: relative;
   z-index: 1
}
@media (max-width: 450px) {
   .container {
      padding: 15px
   }
}
.game-block {
   height: 93%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   border: 1px solid rgb(159, 159, 159);
   border-bottom: 0;
   padding: 20px 25px;
   border-radius: inherit;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   overflow: hidden
}
@media (max-width: 450px) {
   .game-block {
      padding: 15px;
   }
}
.paragraph-container {
   display: flex;
   flex-wrap: wrap;
   gap: 9px 12px;
   color: rgb(255, 255, 255);
   font-weight: 500;
   font-size: 1.5em;
   line-height: 2;
   letter-spacing: 2px;
   position: relative;
   top: 0
}
@media (max-width: 676px) {
   .paragraph-container {
      font-size: 1.2em
   }
}
@media (max-width: 450px) {
   .paragraph-container {
      font-size: 1em
   }
}
.paragraph-container div {
   display: flex;
   gap: 0 3px;
   position: relative
}
.paragraph-container .word-active::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-color: #172c3482;
   opacity: 1
}
span.active {
   color: #fcff2f;
   border-bottom: 2px solid;
   animation: blink 1s ease-in-out infinite
}
@keyframes blink {
   from {border-bottom-color: transparent}
   to {border-bottom-color: #fcff2f}
}
.input {
   position: absolute;
   opacity: 0
}
ul {
   position: fixed;
   bottom: 25px;
   width: calc(100% - 50px);
   height: 50px;
   left: 50%;
   transform: translateX(-50%);
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0 40px;
   border: 1px solid rgb(159, 159, 159);
   border-radius: 14px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   background-color: #203A43
}
@media (max-width: 450px) {
   ul {
      bottom: 15px;
      width: calc(100% - 30px);
      gap: 0 12px
   }
}
li {
   font-weight: 500;
   position: relative
}
@media (max-width: 450px) {
   li {
      font-size: 11px
   }
}
li:not(:last-of-type)::after {
   content: '';
   position: absolute;
   height: 100%;
   right: -20px;
   width: 1px;
   background-color: rgb(159, 159, 159)
}
@media (max-width: 450px) {
   li:not(:last-of-type)::after {
      right: -6px
   }
}
.mistakes {
   color: rgb(255, 151, 151)
}
.wpm, .cpm {
   color: #65efa8
}